<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="loginContainer">
    <div class="loginHead text-center">
      <span>{{LANGUAGE.EN.UCP.LOGIN.HEADING}}</span>
    </div>
    <div class="loginBody">
      <div class="loginAlert">
        <app-user-alert></app-user-alert>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
