@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../assets/scss/vars';
@import '../../assets/scss/mixins';


@include media-breakpoint-up(sm) {
  .container {
    width: 500px;
    position: absolute;
    @include box-centering;
  }
}

@include media-breakpoint-down(sm) {
  .container {
    margin: 20px 0;
  }
}

.container {
  font-family: $font_Raleway;

  .loginContainer {
    position: relative;

    .loginHead {
      height: 60px;

      span {
        position: relative;
        font-size: 24pt;
        color: $font_cWhite;
      }
    }

    .loginBody {
      border: 2px groove $border_Purple;
      border-radius: 6px;
      margin: 10px 0;
      padding: 30px 30px;
      color: $font_cWhite;
      @include background_rgba_Blue(0.2);

      :after {
        content: "";
        background: url("/assets/icons/rocket_bg.svg");
        opacity: 0.1;
        top: 70px;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }

      .loginAlert {
        font-family: $font_Roboto;
        font-size: 12pt;
      }

    }
  }
}
