<nav class="navbar navbar-expand-lg navbar-purple bg-purple">
  <div class="navbar-brand pointer">
    <img [routerLink]="['/ucp']" src="/assets/icons/project.svg" width="60" height="60" class="d-inline-block align-top" alt="RocketDock Logo" />
    <span [routerLink]="['/ucp']"> RocketDock </span>
  </div>

  <div class="collapse navbar-collapse" id="navMenu">
    <ul class="navbar-nav mr-auto ml-4">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ucp/']" (click)="closeResponsiveMenu()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ucp/userList']" (click)="closeResponsiveMenu()">Member</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ucp/projects']" (click)="closeResponsiveMenu()">Projects</a>
      </li>
    </ul>
  </div>

  <ul class="navbar list-unstyled ml-0 loginBox rounded">
    <li class="nav-item navbar-toggler" data-toggle="collapse" data-target="#navMenu"
        aria-controls="navMenu" aria-expanded="false">
      <img src="/assets/icons/menu.svg" class="pointer" height="24px" alt="Menu"/>
    </li>
    <li *ngIf="group" class="nav-item">
      <img src="/assets/icons/acp.svg" class="pointer"
           height="24px" [routerLink]="['/acp']" alt="Admin Control Panel"/>
    </li>
    <li *ngIf="user" class="nav-item">
      <img src="/assets/icons/user.svg" class="pointer"
           height="24px" [routerLink]="['profile/'+user.getID()]" alt="Profile Edit" />
    </li>
    <li class="nav-item">
      <app-logout (logoutEvent)="redirectOnLogout()"></app-logout>
    </li>
  </ul>
</nav>

<div class="container mt-4 mb-4">
  <app-user-alert></app-user-alert>
</div>
