@import "../../../assets/scss/_mixins.scss";
@import "../../../assets/scss/_vars.scss";
@import '../../../../node_modules/bootstrap/scss/bootstrap-grid';

@include media-breakpoint-down(sm) {
  .navbar-brand {
    span {
      display: none;
    }

    margin: 0;
  }
}

@include media-breakpoint-down(md) {
  #navMenu {
    width:100%;
    left: 0;
    position: absolute;
    top: 90px;
    padding: 10px 0;
    z-index: 1;
    background: #2c2d6d;
  }
}


.navbar-brand {
  font-family : $nav_bar_brand;
  font-size: 28pt;
}

.nav-item {
  padding: 0 10px;

  a {
    font-size: 14pt;
  }
}

.nav-link{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  margin: 0 20px;

}
.loginBox {
  padding-top:10px;
  padding-bottom: 10px;
  border: 2px #fff solid;
}


