<div class="modal-header btn-dark">
  <h4 class="modal-title">Do you wanna continue?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true" class="text-white">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 text-center">
      <p>Are you sure, you want to do this? <br />There is no way back after pressing yes! </p>
    </div>
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-dark mr-3" (click)="onContinue()">Yes</button>
      <button type="button" class="btn btn-dark" (click)="activeModal.dismiss()">Cancel</button>
    </div>
  </div>
</div>
