@import '../../../assets/scss/vars';
@import '../../../assets/scss/mixins';

.avatar {
  max-height:256px;
  object-fit: contain;
}

.btn {
  font-size: 12pt;
}

.card {
  border-top: 2px solid $button_cPurple;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
