<div class="container">
  <h3>{{LANGUAGE.EN.UCP.PROFILE_EDIT.TITLE}}</h3>
  <hr>
  <div class="row row-eq-height mt-3 mb-3">
    <div class="col-lg-7 mb-2">
      <h4>{{LANGUAGE.EN.UCP.PROFILE_EDIT.PUBLIC_DATA}}</h4>
      <div class="card card-body" *ngIf="user.getUserData()">
        <div class="row">
          <div class="col-xl-3">
            <p class="pt-2">Forename :</p>
          </div>
          <div class="input-group col-xl-9 mb-3">
            <input type="text" class="form-control" name="forename" placeholder="forename" [(ngModel)]="user.getUserData()._foreName" required>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3">
            <p class="pt-2">Lastname :</p>
          </div>
          <div class="input-group col-xl-9 mb-3">
            <input type="text" class="form-control" name="lastname" placeholder="lastname" [(ngModel)]="user.getUserData()._lastName" required>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3">
            <p class="pt-2">Gender :</p>
          </div>
          <div class="input-group col-xl-9 mb-3">
            <input type="text" class="form-control" name="sex" placeholder="sex" [(ngModel)]="user.getUserData()._sex" required>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3">
            <p class="pt-2">Description :</p>
          </div>
          <div class="input-group col-xl-9">
            <textarea class="form-control" name="description" placeholder="description" [(ngModel)]="user.getUserData()._description" required>
            </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 mb-2">
      <h4>{{LANGUAGE.EN.UCP.PROFILE_EDIT.CHANGE_AVATAR}}</h4>
      <div class="card card-body">
        <div class="row align-items-center">
          <div class="col-xl-12">
            <img *ngIf="user.getUserData() && user.getUserData()._avatar" src="{{user.getUserData()._avatar}}" class="avatar img-fluid card-img" />
            <img *ngIf="!user.getUserData() || !user.getUserData()._avatar" src="/assets/icons/noAvatar.svg" class="avatar img-fluid card-img" />
          </div>
          <div class="col-xl-12 mt-2">
            <input type="file" accept="image/png,image/jpeg" (change)="processImage($event)" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-eq-height mb-4">
    <div class="col-lg-7 mb-2">
      <h4>{{LANGUAGE.EN.UCP.PROFILE_EDIT.PRIVATE_DATA}}</h4>
      <div class="card card-body">
        <div class="row">
          <div class="col-xl-3">
            <p class="pt-2">Username :</p>
          </div>
          <div class="input-group col-xl-9 mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" name="userName" placeholder="username" [ngModel]="user.getUsername()" (ngModelChange)="user.setUsername(($event).toString())" required>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3">
            <p class="pt-2">Password :</p>
          </div>
          <div class="input-group col-xl-9 mb-3">
            <input type="text" class="form-control" name="password" placeholder="password" [ngModel]="user.getPassword()" (ngModelChange)="user.setPassword(($event).toString())" required>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3">
            <p class="pt-2">E-Mail :</p>
          </div>
          <div class="input-group col-xl-9 mb-3">
            <input type="text" class="form-control" name="email" placeholder="email" [ngModel]="user.getEmail()" (ngModelChange)="user.setEmail(($event).toString())" required>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 mb-2">
      <div class="row">
        <div class="col-12">
          <h4>{{LANGUAGE.EN.UCP.PROFILE_EDIT.SAVE_CHANGES}}</h4>
          <div class="card card-body mb-3">
            <div class="row">
              <div class="col-xl-12 text-center">
                <button type="button" class="btn btn-success mr-1 ml-1 mt-1 mb-1" (click)="onSubmit()">{{LANGUAGE.EN.UCP.PROFILE_EDIT.BTN_SAVE_CHANGES}}</button>
                <button type="button" class="btn btn-danger mr-1 ml-1 mt-1 mb-1" (click)="onCancel()">{{LANGUAGE.EN.UCP.PROFILE_EDIT.BTN_CANCEL_RETURN}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
