<h3 class="d-inline-block">{{project.getProjectName()}}</h3><small class="ml-2">by ({{project.getProjectAuthor() | iDtoUserName | async}})</small>
<button *ngIf="group && (group._permissions._isAdmin || group._permissions._isProjectManager)" type="button"
        class="btn btn-danger float-right" (click)="onDelete(project)">
  <i class="fa fa-trash lg-down"></i>
  <span class="ml-1 mr-1 lg-up">Delete Project</span>
</button>
<button *ngIf="group && (group._permissions._isAdmin || group._permissions._isProjectManager)" type="button"
        class="btn btn-purple float-right mr-1" [routerLink]="['/ucp/projects/edit/'+project.getProjectID()]">
  <i class="fa fa-pencil lg-down"></i>
  <span class="ml-1 mr-1 lg-up">Edit Project</span>
</button>
<hr>
<div class="row row-eq-height mb-2" *ngIf="project.getProjectDetails()">
  <div class="col-lg-5 col-xl-4 mb-1">
    <h4>Project Avatar</h4>
    <div class="bookmark" *ngIf="project.getProjectDetails()._projectLevel">
      <img src="/assets/icons/bookmark.svg" height="48px" alt="Bookmark" />
    </div>
    <div class="card card-body">
      <img src="{{project.getProjectDetails()._projectAvatar}}" class="img-fluid card-img" />
    </div>
  </div>
  <div class="col-lg-7 col-xl-8 mb-1">
    <h4>Project Description</h4>
    <div class="card card-body">
      {{project.getProjectDescription()}}
      <div class="urls card card-body mt-4">
        <div class="row">
          <a *ngFor="let uri of project.getProjectDetails()._projectURIs" class="col-4 mt-2" href="{{uri.trim()}}">
            <img src="{{ uri.trim() | webpageToName | webpageToImage | async }}" class="favicon mr-2"> {{uri.trim() | webpageToName}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-lg-4 mb-2">
    <h4>Project Team</h4>
    <div class="card">
      <div class="row row-eq-height">
        <div *ngFor="let item of teamMember;" class="col-4 mt-3 mb-3 member">
          <div class="card-body" [routerLink]="['/ucp/userList/'+item.getID()]">
            <img *ngIf="item.getUserData() && item.getUserData()._avatar" class="card-img" src="{{item.getUserData()._avatar}}"/>
            <img *ngIf="!item.getUserData() || !item.getUserData()._avatar" class="card-img" src="/assets/icons/noAvatar.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 mb-2">
    <h4>Project Comments</h4>
    <div class="card card-body">
      <div class="row" *ngIf="checkMemberOnProject()">
        <div class="col-lg-9">
        <textarea class="form-control" name="description" placeholder="write your comment here..." [ngModel]="comment.getContent()" (ngModelChange)="comment.setContent($event.toString())" required>
          </textarea>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-purple" (click)="onSubmit()">Send</button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="commentList">
      <div *ngFor="let comment of commentList"  class="col-lg-12 mt-2">
        <small>written by {{comment.getAuthorID() | iDtoUserName | async }}</small>
        <img *ngIf="group && (group._permissions._isAdmin || group._permissions._isProjectManager)" src="/assets/icons/close.svg" (click)="onDeleteComment(comment)" height="10px" class="pointer float-right mt-2 mr-2"/>
        <div class="card card-body">
          {{comment.getContent()}}
        </div>
      </div>
    </div>
  </div>
</div>
