@import '../../../../assets/scss/vars';
@import '../../../../assets/scss/mixins';
@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';

button {
  font-size: 12pt;
}

.card-img {
  object-fit: contain;
}

@include media-breakpoint-down(md) {
  .card-img {
    max-height: 256px;
    object-fit: cover;
  }
};

@include media-breakpoint-down(sm) {
  .card-img {
    object-fit: contain;
  }
};

.card {
  border-top: 2px solid $button_cPurple;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bookmark {
  position: absolute;
  right: 1px;
  top: 37px;
  z-index: 1;
  filter: drop-shadow(0 1px 1px rgba(0,0,0,0.5));
}

.urls {
  img {
    height: 20px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
