<div class="modal-header btn-dark">
  <h4 class="modal-title">Edit user: {{user.username}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true" class="text-white">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (keyup.enter)="onSubmit()">
    <div class="row justify-content-center mt-4 mb-2">
      <div class="input-group col-10">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" name="userName" placeholder="username" [(ngModel)]="user.username" required>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="user.password" required>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <input type="text" class="form-control" name="email" placeholder="email" [(ngModel)]="user.email" required>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <input type="text" class="form-control" name="foreName" placeholder="forename" [(ngModel)]="user.foreName" required>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <input type="text" class="form-control" name="lastName" placeholder="lastname" [(ngModel)]="user.lastName" required>
      </div>
    </div>
  </form>
  <form>
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <textarea type="text" class="form-control" name="description" placeholder="description" [(ngModel)]="user.description" required></textarea>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
            (click)="activeModal.dismiss()">Close</button>
    <button type="button" class="btn btn-dark" (click)="onSubmit()">Edit User</button>
  </div>
</div>
