<div class="container">
  <h3>{{LANGUAGE.EN.ACP.PROJECT_MANAGER.ADD.TITLE}}</h3>
  <hr>
  <div class="row row-eq-height mt-3 mb-3">
    <div class="col-lg-7 mb-2">
      <h4>{{LANGUAGE.EN.ACP.PROJECT_MANAGER.ADD.PROJECT_DATA}}</h4>
      <div class="card card-body">
        <div class="row">
          <div class="col-xl-3">
            <p class="pt-2">Project Name :</p>
          </div>
          <div class="input-group col-xl-9 mb-3">
            <input type="text" class="form-control" name="projectName" placeholder="your project name" [ngModel]="project.getProjectName()" (ngModelChange)="project.setProjectName(($event).toString())" required>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3">
            <p class="pt-2">Description :</p>
          </div>
          <div class="input-group col-xl-9 mb-3">
          <textarea class="form-control" name="description" placeholder="describe your project here..." [ngModel]="project.getProjectDescription()" (ngModelChange)="project.setProjectDescription(($event).toString())" required>
          </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3">
            <p class="pt-2">Priority :</p>
          </div>
          <div class="col-xl-9">
            <select [(ngModel)]="project.getProjectDetails()._projectLevel" name="priority" class="custom-select">
              <option [ngValue]="true">Important</option>
              <option [ngValue]="false">Default</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 mb-2">
      <h4>{{LANGUAGE.EN.ACP.PROJECT_MANAGER.ADD.PROJECT_IMAGE}}</h4>
      <div class="card card-body">
        <div class="row align-items-center">
          <div class="col-xl-12">
            <img *ngIf="project.getProjectDetails()._projectAvatar" src="{{project.getProjectDetails()._projectAvatar}}" class="avatar img-fluid card-img" />
            <img *ngIf="!project.getProjectDetails()._projectAvatar" src="/assets/icons/noImage.svg" class="avatar img-fluid card-img" />
          </div>
          <div class="col-xl-12 mt-2">
            <input type="file" accept="image/png,image/jpeg" (change)="processImage($event)" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-eq-height mb-4" *ngIf="project.getProjectDetails()">
    <div class="col-lg-7 mb-2">
      <h4>{{LANGUAGE.EN.ACP.PROJECT_MANAGER.ADD.PROJECT_MEMBER}}</h4>
      <div class="card card-body">
        <div class="row">
          <div class="col-xl-6 projectMember">
            <h6>Your Project Member:</h6>
            <hr>
            <table class="table table-hover text-center align-middle">
              <tbody>
              <tr *ngFor="let user of teamList">
                <td class="w-50 align-middle">{{user.getUsername()}}</td>
                <td class="text-right pr-4">
                  <button *ngIf="!project.getProjectAuthor()" type="button" class="btn btn-warning align-middle ml-1" (click)="onPromote(user)">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </button>
                  <button type="button" *ngIf="checkPromotion(user.getID())" class="btn btn-danger align-middle ml-1" (click)="onDemote()">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-danger align-middle ml-1" (click)="onRemove(user)">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xl-6 userList">
            <h6>Rocket Dock Member:</h6>
            <hr>
            <div class="form-group">
              <label>filter by any given name:</label>
              <input class="form-control" placeholder="username, forename, lastname" name="username" autocomplete="off" [(ngModel)]="filter" (keyup)="filterByWord()">
            </div>
            <table class="table table-hover text-center align-middle">
              <tbody>
              <tr *ngFor="let user of displayList">
                <td class="w-50 align-middle">{{user.getUsername()}}</td>
                <td class="text-right pr-4">
                  <button *ngIf="!project.getProjectAuthor()" type="button" class="btn btn-warning align-middle ml-1" (click)="onPromote(user)">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-success align-middle ml-1" (click)="onAdd(user)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 mb-2">
      <div class="row">
        <div class="col-xl-12">
          <h4>{{LANGUAGE.EN.ACP.PROJECT_MANAGER.ADD.PROJECT_LINKS}}</h4>
          <div class="card card-body">
            <div class="row">
              <div class="col-xl-12">
                <p class="mt-2">Links :</p>
                <ng-container *ngFor="let url of urlList; let i = index;">
                  <div class="row">
                    <div class="col-12 mb-3">
                      <div class="input-group">
                        <input type="text" class="form-control" name="urlList" placeholder="http://" [(ngModel)]="url.value" required>
                        <img src="/assets/icons/error.svg" *ngIf="i != 0" class="m-2" height="24px" (click)="removeUrlInput(i)"/>
                        <img src="/assets/icons/cplus.svg" class="m-2" height="24px" (click)="addUrlInput()"/>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 mt-3 text-center">
          <h4>{{LANGUAGE.EN.ACP.PROJECT_MANAGER.ADD.PROJECT_SETTINGS}}</h4>
          <div class="card card-body">
            <div class="row">
              <div class="col-xl-4">
                <p class="pt-2">ToDo-List :</p>
              </div>
              <div class="col-xl-8">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="project.getProjectDetails().todoList">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4">
                <p class="pt-2">Comments :</p>
              </div>
              <div class="col-xl-8">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="project.getProjectDetails().comments">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 text-center">
      <div class="card card-body mb-4">
        <div class="row">
          <div class="col-xl-12">
            <button type="button" class="btn btn-success mr-1 ml-1" (click)="onSubmit()">Create Project</button>
            <button type="button" class="btn btn-danger mr-1 ml-1" (click)="onCancel()">Cancel & Return</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
