<app-member-card [user]="user" *ngIf="user" (close)="closeCard()"></app-member-card>
<div class="text-center mt-3 paginator">
  <div class="underline d-inline-block w-25"></div>
  <i class="fa fa-chevron-circle-left fa-2x pointer" (click)="onBackward()"></i>
  <i class="fa fa-chevron-circle-right fa-2x pointer" (click)="onForward()"></i>
  <div class="underline d-inline-block w-25"></div>
</div>
<div class="row row-eq-height">
  <div *ngFor="let item of itemData;" class="col-6 col-sm-6 col-md-3 col-lg-2 mt-3 mb-3 member">
    <div class="card card-body"(click)="clickedMember(item)">
      <img *ngIf="item.getUserData() && item.getUserData()._avatar" class="card-img" src="{{item.getUserData()._avatar}}" />
      <img *ngIf="!item.getUserData() || !item.getUserData()._avatar" class="card-img" src="/assets/icons/noAvatar.svg" />
      <p class="text-center mb-0 mt-2">{{item.getUsername()}}</p>
    </div>
  </div>
</div>
<div class="text-center mt-3 paginator">
  <div class="underline d-inline-block w-25"></div>
  <i class="fa fa-chevron-circle-left fa-2x pointer" (click)="onBackward()"></i>
  <i class="fa fa-chevron-circle-right fa-2x pointer" (click)="onForward()"></i>
  <div class="underline d-inline-block w-25"></div>
</div>
