@import '../../../../assets/scss/vars';
@import '../../../../assets/scss/mixins';
@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';

:host {
  font-family: $font_Roboto;
}

.bg-purple {
  background: rgba(80, 80, 180, 0.8);
}

.member > .card {
  border: #000 1px solid;
}

p > img {
  height: 25px;
}

p {
  font-weight: bold;
}

@include media-breakpoint-up(lg) {
  .member > .card {
    img {
      width: 100%;
      height: 7vw;
      object-fit: cover;
    }
  }
}

.paginator {
  i {
    margin: 0 10px;
    color: $button_cPurple;

    & :hover {
      color: $button_hPurple;
    }
  }
}

.underline {
  border-color: $button_cPurple;
  margin-bottom: 10px;
}
