<div class="row row-eq-height mt-3 mb-4">
  <div class="col-xl-7 mt-1">
    <h3>Private Data</h3>
    <div class="card card-body">
      <div class="row">
        <div class="col-xl-3">
          <p class="pt-2">Username :</p>
        </div>
        <div class="input-group col-xl-9 mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" name="userName" placeholder="username" [ngModel]="user.getUsername()" (ngModelChange)="user.setUsername(($event).toString())" required>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3">
          <p class="pt-2">Password :</p>
        </div>
        <div class="input-group col-xl-9 mb-3">
          <input type="text" class="form-control" name="password" placeholder="password" [ngModel]="user.getPassword()" (ngModelChange)="user.setPassword(($event).toString())" required>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3">
          <p class="pt-2">E-Mail :</p>
        </div>
        <div class="input-group col-xl-9 mb-3">
          <input type="text" class="form-control" name="email" placeholder="email" [ngModel]="user.getEmail()" (ngModelChange)="user.setEmail(($event).toString())" required>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-5 mt-1" *ngIf="user.getUserData()">
    <h3>Change Avatar</h3>
    <div class="card card-body">
      <div class="row align-items-center">
        <div class="col-md-4">
          <img *ngIf="user.getUserData()._avatar" src="{{user.getUserData()._avatar}}" class="avatar img-fluid card-img" />
          <img *ngIf="!user.getUserData()._avatar" src="/assets/icons/noAvatar.svg" class="avatar img-fluid card-img" />
        </div>
        <div class="col-md-8 mt-2">
          <input type="file" accept="image/png,image/jpeg" (change)="processImage($event)" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-eq-height mb-4" *ngIf="user.getUserData()">
  <div class="col-xl-7 mt-2">
    <h3>Public Data</h3>
    <div class="card card-body">
      <div class="row">
        <div class="col-xl-3">
          <p class="pt-2">Forename :</p>
        </div>
        <div class="input-group col-xl-9 mb-3">
          <input type="text" class="form-control" name="forename" placeholder="forename" [(ngModel)]="user.getUserData()._foreName" required>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3">
          <p class="pt-2">Lastname :</p>
        </div>
        <div class="input-group col-xl-9 mb-3">
          <input type="text" class="form-control" name="lastname" placeholder="lastname" [(ngModel)]="user.getUserData()._lastName" required>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3">
          <p class="pt-2">Gender :</p>
        </div>
        <div class="input-group col-xl-9 mb-3">
          <input type="text" class="form-control" name="sex" placeholder="sex" [(ngModel)]="user.getUserData()._sex" required>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3">
          <p class="pt-2">Description :</p>
        </div>
        <div class="input-group col-xl-9 mb-3">
          <input type="text" class="form-control" name="description" placeholder="description" [(ngModel)]="user.getUserData()._description" required>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-5 mt-2">
    <div class="row">
      <div class="col-12">
        <h3>Permissions</h3>
        <div class="card card-body">
          <div class="row">
            <div class="col-10 mt-1">
              <label for="group">Group:</label>
              <select [(ngModel)]="currGroup" name="group" class="custom-select" id="group">
                <option *ngFor="let group of groups" [ngValue]="group">
                  {{group.getGroupName()}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card card-body mt-4">
          <div class="row">
            <div class="col-xl-12 text-center">
              <button type="button" class="btn btn-success mr-3" (click)="onSubmit()">Save Changes</button>
              <a [routerLink]="['/acp/userList']">
                <button type="button" class="btn btn-danger">Cancel & Return</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
