@import '../../../../assets/scss/vars';
@import '../../../../assets/scss/mixins';

h3, h4 {
  font-family: $font_Raleway;
  font-weight: bold;
}

.avatar {
  max-width: 400px;
  height: auto;
}

.btn {
  font-size: 12pt;
}
