<div class="row mt-3">
  <app-user class="col-xl-9" [itemData]="listData" (deleteUser)="deleteUser($event)" (editUser)="editUser($event)"></app-user>
  <div class="col-xl-3">
    <div class="row">
      <div class="col-xl-12">
        <h3>Filter User</h3>
        <div class="card card-body">
          <div class="form-group">
            <label>filter by username:</label>
            <input class="form-control" placeholder="username" name="username" [(ngModel)]="f_username" (keyup)="filterByUsername()">
          </div>
        </div>
      </div>
      <app-user-form class="col-xl-12 mt-2" (addUser)="addUser($event)"></app-user-form>
    </div>
  </div>
</div>
