@import '../../../../node_modules/bootstrap/scss/bootstrap-grid';

.container {
  margin: 20px auto;
  padding: 20px 20px;
  background: rgba(247,249,249,0.9);
  border: 2px solid #5050a0;
  height: auto;
}

@include media-breakpoint-down(sm) {
  .container {
    border: 0;
    border-top: 2px solid #5050a0;
    border-bottom: 2px solid #5050a0;
  }
}
