<table class="table table-hover text-center align-middle">
  <thead class="bg-dark text-white">
  <tr>
    <th scope="col">Username</th>
    <th scope="col">E-Mail</th>
    <th scope="col">Created on</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of itemData">
    <td class="w-25 align-middle" (click)="editItem(item)">{{item.getUsername()}}</td>
    <td class="w-25 align-middle" (click)="editItem(item)">{{item.getEmail()}}</td>
    <td class="w-auto align-middle" (click)="editItem(item)">{{item.getDate() | date}}</td>
    <td>
      <a [routerLink]="['edit/'+item.getID()]">
        <button type="button" class="btn btn-dark align-middle ml-1">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </a>
      <button type="button" class="btn btn-danger align-middle ml-1" (click)="onDelete(item)">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<p class="text-center mt-3">
  <img src="/assets/icons/left-chevron.svg" class="mr-3 pointer" (click)="onBackward()" />
  <img src="/assets/icons/right-chevron.svg" class="pointer" (click)="onForward()" />
</p>

