<h3>Create new user</h3>
<div class="card card-body">
  <form (keyup.enter)="onSubmit()">
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" name="userName" placeholder="username" [(ngModel)]="user.username" required>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="user.password" required>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <input type="text" class="form-control" name="email" placeholder="email" [(ngModel)]="user.email" required>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <input type="text" class="form-control" name="foreName" placeholder="forename" [(ngModel)]="user.foreName" required>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <input type="text" class="form-control" name="lastName" placeholder="lastname" [(ngModel)]="user.lastName" required>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <button type="button" class="btn btn-dark" (click)="onSubmit()">Create User</button>
    </div>
  </form>

</div>
