<div class="row mt-3">
  <div class="col-xl-9">
    <table class="table table-hover text-center align-middle">
      <thead class="bg-dark text-white">
      <tr>
        <th scope="col">Group Name</th>
        <th scope="col">Access Level</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody *ngIf="itemData">
      <tr *ngFor="let item of itemData">
        <td class="align-middle" (click)="editItem(item)">{{item.getGroupName()}}</td>
        <td class="align-middle" (click)="editItem(item)">{{item.getPermissions() | booleanToAccessLevel }}</td>
        <td>
          <button type="button" class="btn btn-danger align-middle ml-1" (click)="onDelete(item)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <p class="text-center mt-3">
      <img src="/assets/icons/left-chevron.svg" class="mr-3 pointer" (click)="onBackward()" />
      <img src="/assets/icons/right-chevron.svg" class="pointer" (click)="onForward()" />
    </p>
  </div>
  <div class="col-xl-3">
    <div class="row">
      <div class="col-xl-12">
        <h3>Filter Groups</h3>
        <div class="card card-body">
          <div class="form-group">
            <label>filter by group:</label>
            <input class="form-control" placeholder="group" name="group" [(ngModel)]="f_group" (keyup)="filterByGroup()">
          </div>
        </div>
      </div>
      <app-acp-group-form class="col-xl-12 mt-2" (addGroup)="addItem($event)"></app-acp-group-form>
    </div>
  </div>
</div>
