@import '../../../assets/scss/vars';
@import '../../../assets/scss/mixins';

h3, h4 {
  font-family: $font_Raleway;
  font-weight: bold;
}

.smartTools {
  p {
    margin: 4px 0 0 0;
    font-size: 10pt;
  }

  .col-3 {
    filter: grayscale(0%);
    color: #6485f4;

    &:hover {
      filter: grayscale(100%);
    }
  }
}
