<div class="row row-eq-height mt-3 mb-4">
  <div class="col-xl-8">
    <h3>Recent Announcements</h3>
    <div class="card card-body">
      <div class="row">
        <div class="col-md-9">
          <h4 class="d-inline-block mb-3">Welcome To RocketDock!</h4><small class="ml-2">(08.01.2019)</small>
          <p>Welcome to the Admin-Control-Panel of RocketDock v1. Here you can take advantage of various settings for your
            projects and your teams. If you need help, don't hesitate to contact our support.</p>
          <h5 class="mb-2 mt-2">What has been changed since the last update?</h5>
          <p>With every new version, new changes will be done. If you don't want to get lost in the jungle of functions
            and settings for your Dock, take a look here and test our brand new highlights.</p>
          <ul>
            <li><strong>UserManager:</strong> You can now edit your user through several options.
              <ul>
                <li>Add User to your Dock and edit them afterwards.</li>
                <li>Now you can add user-groups to your member as well!</li>
              </ul>
            </li>
            <li><strong>GroupManager:</strong> Manage your own groups with your own access levels.</li>
            <li><strong>ChangeLogs:</strong> Now you can monitor all the activities on your Dock.</li>
            <li><strong>ProjectManager:</strong> You can manage all the projects on your Dock, if necessary!</li>
          </ul>
          <p>If you need any help, don't hesitate to contact our support.</p>
        </div>
        <div class="col-md-3 text-center">
          <img src="/assets/icons/wrench.svg" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="row">
      <div class="col-lg-12 mb-2">
        <h3>Fast Access</h3>
        <div class="card card-body">
          <div class="row row-eq-height smartTools text-center">
            <div class="col-sm-3 pointer" [routerLink]="['userList']">
              <img src="/assets/icons/acp/user.svg" class="img-fluid img-thumbnail">
              <p>Users</p>
            </div>
            <div class="col-sm-3 pointer" [routerLink]="['groupList']">
              <img src="/assets/icons/acp/usergrp.svg" class="img-fluid img-thumbnail">
              <p>Teams</p>
            </div>
            <div class="col-sm-3 pointer" [routerLink]="['projectList']">
              <img src="/assets/icons/acp/notepad.svg" class="img-fluid img-thumbnail">
              <p>Projects</p>
            </div>
            <div class="col-sm-3 pointer" [routerLink]="['changeLogs']">
              <img src="/assets/icons/acp/list.svg" class="img-fluid img-thumbnail">
              <p>Logs</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mb-2">
        <h3>Last Login Activities</h3>
        <div class="card card-body">
          <ul class="pt-2 list-unstyled">
            <li *ngFor="let event of lastActivity">[{{event._date | date}}] {{event._username}} {{event._action}}</li>
          </ul>
          <a [routerLink]="['changeLogs']">View more LogEvents...</a>
        </div>
      </div>
      <div class="col-lg-12">
        <h3>Login Activity</h3>
        <div class="card card-body">
          <app-chart [data]="chartData" [type]="'bar'" [labels]="chartLabels" [legend]="true"></app-chart>
        </div>
      </div>
    </div>
  </div>
</div>
