<div class="container">
  <h3 class="d-inline">{{LANGUAGE.EN.UCP.MEMBER_LIST.TITLE}}</h3>
  <div class="row filter">
    <div class="col">
      <div class="filterInner">
        <div class="form-group d-inline-block">
          <input class="form-control" placeholder="{{LANGUAGE.EN.UCP.MEMBER_LIST.FILTER_PLACEHOLDER}}" name="member" [(ngModel)]="f_word" (keyup)="filterByWords()">
        </div>
        <span class="ml-2 mr-1">
          <i class="fa fa-search fa-1x"></i>
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="clearfix"></div>
  <app-member [itemData]="listData"></app-member>
</div>
