@import '../../../assets/scss/vars';
@import '../../../assets/scss/mixins';
@import '../../../../node_modules/bootstrap/scss/bootstrap-grid';


h3 {
  font-family: $font_Raleway;
  font-weight: bold;
  font-size: 20pt;
}

@include media-breakpoint-up(sm) {
  .filter {
    float: right;
  }
}

@include media-breakpoint-down(sm) {
  .filter {
    padding: 10px 0 0 0;
  }
}

.filterInner {
  font-size: 18pt;

  .form-group {
    margin: 0;
  }
}
