@import '../../../assets/scss/vars';
@import '../../../assets/scss/mixins';

.codebox {
  padding: 20px;
  background: rgba(51, 51, 51, 0.27);
  border: 1px solid #000000;

  p {
    font-family: Bahnschrift, sans-serif;
    margin: 0;
  }
}

img {
  height: 25px;
}

h3, h4 {
  font-family: $font_Raleway;
  font-weight: bold;
}
