<div class="row mt-3 row-eq-height">
  <div class="col-lg-8">
    <h3>EventLogs</h3>
    <div class="card card-body">
      <div class="codebox">
        <p *ngFor="let event of showLogs">[{{event._date | date}}] <u>{{event._username}}</u> {{ event._action }}</p>
      </div>
      <p class="text-center mt-3">
        <img src="/assets/icons/left-chevron.svg" class="mr-3 pointer" (click)="onBackward()" />
        <img src="/assets/icons/right-chevron.svg" class="pointer" (click)="onForward()" />
      </p>
    </div>
  </div>
  <div class="col-lg-4">
    <h3>Filter Logs</h3>
    <div class="card card-body">
      <div class="form-group">
        <label>filter by username:</label>
        <input class="form-control" placeholder="username" name="username" [(ngModel)]="f_username" (keyup)="filterByUserName()">
      </div>
      <div class="form-group">
        <label>filter by any words:</label>
        <input class="form-control" placeholder="any word" name="word" [(ngModel)]="f_word" (keyup)="filterByWords()">
      </div>
      <div class="form-group">
        <label>filter by date:</label>
        <input class="form-control" placeholder="date" type="date" [(ngModel)]="f_date" (ngModelChange)="filterByDate()"/>
      </div>
      <div class="form-group">
        <label for="group">filter by group:</label>
        <select [(ngModel)]="f_group" name="group" class="custom-select" id="group" (ngModelChange)="filterByGroup()">
          <option [ngValue]="null">No Group</option>
          <option *ngFor="let group of f_groups" [ngValue]="group">
            {{group.getGroupName()}}
          </option>
        </select>
      </div>
      <div class="form-group text-center mt-3">
        <button type="button" class="btn btn-dark" (click)="resetFilters()">Reset Filters</button>
      </div>
    </div>
  </div>
</div>
