<div class="row mt-3">
  <div class="col-xl-9">
    <table class="table table-hover text-center align-middle">
      <thead class="bg-dark text-white">
      <tr>
        <th scope="col">Project Name</th>
        <th scope="col">Project Author</th>
        <th scope="col">Project Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody *ngIf="itemData">
      <tr *ngFor="let item of itemData">
        <td class="w-auto align-middle">{{item.getProjectName()}}</td>
        <td class="w-auto align-middle">{{item.getProjectAuthor() | iDtoUserName | async }}</td>
        <td class="w-auto align-middle">{{item.getProjectStatus() | booleanToStatus }}</td>
        <td>
          <button type="button" class="btn btn-dark align-middle ml-1" [routerLink]="['edit/'+item.getProjectID()]">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger align-middle ml-1" (click)="onDelete(item)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <p class="text-center mt-3">
      <img src="/assets/icons/left-chevron.svg" class="mr-3 pointer" (click)="onBackward()" />
      <img src="/assets/icons/right-chevron.svg" class="pointer" (click)="onForward()" />
    </p>
  </div>
  <div class="col-xl-3">
    <div class="row">
      <div class="col-xl-12">
        <h3>Filter projects</h3>
        <div class="card card-body">
          <div class="form-group">
            <label>filter by project:</label>
            <input class="form-control" placeholder="project" name="project" [(ngModel)]="f_project" (keyup)="filterByProject()">
          </div>
        </div>
      </div>
      <div class="col-xl-12 mt-2">
        <h3>Project tools</h3>
        <div class="card card-body">
          <button type="button" class="btn btn-dark" [routerLink]="['add']">Create new project</button>
        </div>
      </div>
    </div>
  </div>
</div>
