@import '../../../assets/scss/vars';
@import '../../../assets/scss/mixins';
@import '../../../../node_modules/bootstrap/scss/bootstrap-grid';


.profile {
  .card {
    font-family: $font_Roboto;
    img {
      border-radius: 8px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .profile {
    .card {
      img {
        max-height: 256px;
      }
    }
  }
};



.btn {
  font-size: 12pt;
}

.img-fluid {
  object-fit: cover;
}

.projectList {

  .card-body {
    padding: 0;
  }

  .row {
    margin: 6px 0 0 0;
    padding: 6px 0;
    ~ .row {
      border-top: 2px solid rgba(66, 62, 161, 0.4);
    }
  }

  .img-fluid {
    max-height: 52px;
  }

  .href {
     color: #4d4fcb;

    &:hover {
      color: #2c2d6d;
    }
  }
}

.card {
  border-top: 2px solid $button_cPurple;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
