<div class="container">
  <h3>{{print(LANGUAGE.EN.UCP.HOME.WELCOME_BACK,
    (user.getUserData() && user.getUserData()._foreName && user.getUserData()._lastName ?
      user.getUserData()._foreName + " " + user.getUserData()._lastName :
      user.getUsername()))}}</h3>
  <hr>
  <div class="row row-eq-height">
    <div class="col-lg-8 mb-3 profile">
      <h4>{{LANGUAGE.EN.UCP.HOME.YOUR_PROFILE}}</h4>
      <div class="card card-body">
        <div class="row">
          <div class="col-sm-4 text-center mt-2">
            <div class="card-img">
              <img *ngIf="user.getUserData() && user.getUserData()._avatar" src="{{user.getUserData()._avatar}}" class="img-fluid">
              <img *ngIf="!user.getUserData() || !user.getUserData()._avatar" src="/assets/icons/noAvatar.svg" class="img-fluid">
            </div>
          </div>
          <div class="col-sm-8 mt-2">
            <div class="row pt-2">
              <div class="col-auto">
                Username: <strong class="pl-2">{{user.getUsername()}}</strong>
              </div>
              <div class="col-auto" *ngIf="user.getUserData() != null && user.getUserData()._group">
                Group: <strong class="pl-2">{{user.getUserData()._group | iDtoGroupName | async}}</strong>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-auto">
                Email: <strong class="pl-2">{{user.getEmail()}}</strong>
              </div>
            </div>
            <div class="row pt-2" *ngIf="projects.length > 0">
              <div class="col-auto">
                Projects: <strong class="pl-2">{{projects.length}}</strong>
              </div>
            </div>
            <div class="row bottom-align-text mr-1">
              <div class="col-12 p-0">
                <button type="button" class="lg-up btn btn-purple mr-2" [routerLink]="['userList/'+user.getID()]">
                  {{LANGUAGE.EN.UCP.HOME.BTN_VIEW_MY_PROFILE}}
                </button>
                <button type="button" class="lg-down btn btn-purple mr-2" [routerLink]="['userList/'+user.getID()]">
                  <i class="fa fa-user"></i>
                </button>

                <button type="button" class="lg-up btn btn-purple" [routerLink]="['profile/'+user.getID()]">
                  {{LANGUAGE.EN.UCP.HOME.BTN_EDIT_MY_PROFILE}}
                </button>
                <button type="button" class="lg-down btn btn-purple" [routerLink]="['profile/'+user.getID()]">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3 projectList">
      <h4>{{LANGUAGE.EN.UCP.HOME.MY_PROJECTS}}</h4>
      <div class="card card-body pointer">
        <ng-container *ngIf="projects && projects.length > 0">
          <ng-container *ngFor="let project of projects; let i = index;">
            <div class="row align-items-center" *ngIf="i < 3" [routerLink]="['projects/details/'+ project.getProjectID()]">
              <div class="col-4 p-0 text-center">
                <img src="{{project.getProjectDetails()._projectAvatar}}" class="img-fluid">
              </div>
              <div class="col-6">
                <span>{{project.getProjectName()}}</span>
              </div>
              <div class="col-2">
              <span *ngIf="project.getProjectDetails()._projectLevel">
                <img src="/assets/icons/warning.svg" alt="Attention" height="24px" />
              </span>
              </div>
            </div>
            <div class="row align-items-center pb-2" *ngIf="i == 3" [routerLink]="['projects']">
              <div class="col-12 mt-1 mb-1 text-center">
                <span class="href">{{LANGUAGE.EN.UCP.HOME.VIEW_MORE_PROJECTS}}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="projects && projects.length == 0">
          <div class="row align-items-center text-center">
            <div class="col-12">
              {{LANGUAGE.EN.UCP.HOME.NO_PROJECTS_FOUND}}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-lg-8 mb-3">
      <h4>{{LANGUAGE.EN.UCP.HOME.IN_CASE_YOU_MISSED}}</h4>
      <div class="card card-body">
        <p>This Feature will be released with our next update.</p>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <h4>{{LANGUAGE.EN.UCP.HOME.YOUR_TODO}}</h4>
      <div class="card card-body">
        <p>This Feature will be released with our next update.</p>
      </div>
    </div>
  </div>
</div>
