@import '../../../assets/scss/vars';
@import '../../../assets/scss/mixins';

.loginForm {
  font-size: 18pt;
}

.label {
  margin: 10px 0;
}

.submitBtn {
  text-align: center;
  margin: 40px 0 0 0;
}

input {
  font-family: $font_Roboto;
  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.9;
  }
}
