<div class="loginForm">
  <div class="loginText">
    <p class="text-center">{{LANGUAGE.EN.UCP.LOGIN.REGISTER}}</p>
    <div class="row justify-content-center mb-4"> <!-- TODO: IMPLEMENT FACEBOOK API AND REGISTER FORM -->
      <button type="button" class="btn btn-purple mt-2" [routerLink]="['/login/create']">{{LANGUAGE.EN.UCP.LOGIN.REGISTER_BTN}}</button>
      <button type="button" class="btn btn-purple ml-3 mt-2">{{LANGUAGE.EN.UCP.LOGIN.SOCIAL_BTN}}
        <a href="/auth/facebook"><img class="ml-1 mb-1" height="24px" src="/assets/icons/social-media/facebook.svg"></a></button>
    </div>
    <div class="underline d-inline-block w-25"></div>
    <div class="d-inline-block w-50 text-center">{{LANGUAGE.EN.UCP.LOGIN.DIVIDER}}</div>
    <div class="underline d-inline-block w-25"></div>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="form" (keyup.enter)="onLogin()">
          <span class="d-block label">{{LANGUAGE.EN.UCP.LOGIN.EMAIL}}</span>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{LANGUAGE.EN.UCP.LOGIN.PLACEHOLDER_EMAIL}}" name="email" [(ngModel)]="user.login_email">
          </div>
          <span class="d-block label">{{LANGUAGE.EN.UCP.LOGIN.PASSWORD}}</span>
          <div class="input-group">
            <input type="password" class="form-control" placeholder="{{LANGUAGE.EN.UCP.LOGIN.PLACEHOLDER_PASSWORD}}" name="password" [(ngModel)]="user.login_password">
          </div>
          <div class="submitBtn">
            <button type="button" class="btn btn-purple" (click)="onLogin()">{{LANGUAGE.EN.UCP.LOGIN.SUBMIT_BTN}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

