<footer>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-3 mt-1">
        <a class="lg-up" [routerLink]="['aboutus']" (click)="scrollTop()">&copy;RocketDock 2018/19</a>
        <a class="lg-down" [routerLink]="['aboutus']">
          <i class="fa fa-copyright"></i>
        </a>
      </div>
      <div class="col-3 mt-1">
        <div class="title">
          <a>
            <a class="lg-up" [routerLink]="['disclaimer']" (click)="scrollTop()">Disclaimer</a>
            <a class="lg-down" [routerLink]="['disclaimer']">
              <i class="fa fa-info-circle"></i>
            </a>
          </a>
        </div>
      </div>
      <div class="col-3 mt-1">
        <div class="title">
          <a class="lg-up" [routerLink]="['contact']" (click)="scrollTop()">Site Notice</a>
          <a class="lg-down" [routerLink]="['contact']">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
      </div>
      <div class="col-3 mt-1 sm-none">
        <a class="fa fa-facebook pointer"></a>
        <a class="fa fa-twitter pointer"></a>
        <a class="fa fa-google pointer"></a>
        <a href="https://www.instagram.com/iamrocketdock/" target="_blank" class="fa fa-instagram"></a>
      </div>
    </div>
  </div>
</footer>
