@import '../../../assets/scss/vars';
@import '../../../assets/scss/mixins';

footer {
  font-family: $font_Roboto;
  position: absolute;
  height: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  @include background_rgba_Blue(0.2);

  a {
    color: $a_color;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 12pt;




    &:hover {
      color: $a_hover;
      transition: color 0.2s;

    }
  }
  .fa-facebook{
padding-right: 15px;
  }
  .fa-twitter{
    padding-right: 15px;
  }
  .fa-google{
    padding-right: 15px;
  }
  .fa-instagram{
    padding-right: 15px;
  }
}
