@mixin border-radius-bot($px) {
  border-bottom-left-radius: $px;
  border-bottom-right-radius: $px;
}

@mixin box-centering {
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

@mixin background_rgba_Blue($degree) {
  background: rgba(80,80,160,$degree);
}
