@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto|Roboto Condensed|Raleway');

$font_Roboto : 'Raleway';
$font_Raleway: 'Raleway', sans-serif;
$nav_bar_brand: 'Indie Flower', cursive;

$font_cWhite : #fff;
$font_cBlack : #000;

$a_color : #F7F9F9;
$a_hover : rgb(215, 217, 255);

$button_cPurple : #423ea1;
$button_hPurple : #7479b8;

$border_Purple : #04004a;
