@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import 'mixins';
@import 'vars';


html {
  position: relative;
  min-height: 100%;
}

body {
  &.mBottom {
    margin-bottom: 90px;
  }
}

.foodBG {
  background: url("../img/i-like-food.svg") repeat #333333;
}

@include media-breakpoint-up(sm) {
  .endlessConstellation {
    background: url("../img/starBackgr.svg") repeat;

    &.animated {
      animation: animatedBackground 30s linear infinite;
    }
  }

  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 101% 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .endlessConstellation {
    background: url("../img/starBackgr.svg") repeat;
  }
}

.bg-purple {
  @include background_rgba_Blue(0.2);
}

.pointer {
  cursor: pointer;
}

.navbar-purple {
  color : #fff;

  a {
    color : $a_color;
    transition: color 0.5s;

    &:hover {
      color : $a_hover;
      transition: color 0.5s;
    }
  }
}

.underline {
  border-top: 2px #fff solid;
}

.btn-purple {
  font-size: 18pt;
  background-color: $button_cPurple;
  color: #fff;

  &:hover {
    background-color: $button_hPurple;
    color: #ffffff;
  }
}

@media (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    & > [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
  }
}

.bottom-align-text {
  margin: 20px 0 0 0;
  float:right;
}

@include media-breakpoint-down(md) {
  .lg-up {
    display: none;
  }
}

@include  media-breakpoint-up(lg) {
  .lg-down {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .sm-none {
    display:none;
  }
}

h3 {
  font-family: $font_Raleway;
  font-weight: bold;
  font-size: 20pt;
}

h4 {
  color: $button_cPurple;
  font-family: $font_Raleway;
  font-weight: bold;
}

hr {
  margin-top: 15px;
  margin-bottom: 30px;
}
