@import '../../../assets/scss/vars';
@import '../../../assets/scss/mixins';

h3, h4 {
  font-family: $font_Raleway;
  color: #fff;
  text-align: center;
}

.sidebar-header {
  padding: 30px 0 10px 0;
  margin: 0 0 20px 0;
  border-top: 5px #fff solid;
  border-bottom: 5px #fff solid;
}

.sideCategory {
  margin: 10px 0;
}

ul {
  width: 80%;
  font-family: $font_Roboto;

  li {
    text-align: center;
    padding: 10px;
    background:#fff;
    transition: all .5s;
    border: 1px solid #333333;

    &:hover {
      background:none;
      transition: all .5s;
      color: #fff;
    }
  }
}
