<div class="sidebar-header">
  <h3>Control Panel Tools</h3>
</div>

<ul class="list-unstyled pointer">
  <li [routerLink]="['/acp/']">Home</li>
</ul>
<h4 class="sideCategory">General Settings</h4>
<ul class="list-unstyled pointer">
  <li [routerLink]="['changeLogs']">Logs & Security</li>
  <li>Website Settings</li>
</ul>
<h4 class="sideCategory">User Settings</h4>
<ul class="list-unstyled pointer">
  <li [routerLink]="['userList']">User Manager</li>
  <li [routerLink]="['groupList']">Group Manager</li>
</ul>
<h4 class="sideCategory">Project Settings</h4>
<ul class="list-unstyled pointer">
  <li [routerLink]="['projectList']">Project Manager</li>
</ul>
