<div class="loginForm">
  <div class="loginText">
    <p class="text-center">{{LANGUAGE.EN.UCP.LOGIN.REGISTER}}</p>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="form" (keyup.enter)="onRegister()">
          <span class="d-block label">{{LANGUAGE.EN.UCP.REGISTER.USERNAME}}</span>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{LANGUAGE.EN.UCP.REGISTER.PLACEHOLDER_USERNAME}}" name="username"
                   [ngModel]="user.getUsername()" (ngModelChange)="user.setUsername($event.toString())">
          </div>
          <span class="d-block label">{{LANGUAGE.EN.UCP.REGISTER.EMAIL}}</span>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{LANGUAGE.EN.UCP.REGISTER.PLACEHOLDER_EMAIL}}" name="email"
                   [ngModel]="user.getEmail()" (ngModelChange)="user.setEmail($event.toString())">
          </div>
          <span class="d-block label"></span>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{LANGUAGE.EN.UCP.REGISTER.PLACEHOLDER_EMAIL_REPEAT}}" name="email"
                    [(ngModel)]="r_email">
          </div>
          <span class="d-block label">{{LANGUAGE.EN.UCP.REGISTER.PASSWORD}}</span>
          <div class="input-group">
            <input type="password" class="form-control" placeholder="{{LANGUAGE.EN.UCP.REGISTER.PLACEHOLDER_PASSWORD}}" name="password"
                    [ngModel]="user.getPassword()" (ngModelChange)="user.setPassword($event.toString())">
          </div>
          <span class="d-block label"></span>
          <div class="input-group">
            <input type="password" class="form-control" placeholder="{{LANGUAGE.EN.UCP.REGISTER.PLACEHOLDER_PASSWORD_REPEAT}}" name="password"
                    [(ngModel)]="r_password">
          </div>
          <span class="d-block label"></span>
          <div class="input-group justify-content-center">
            <re-captcha class="mt-2"
              (resolved)="resolved($event)"
              siteKey="6LcEyYsUAAAAAFOaUTFTyKeSD7sPZULsHBVkwv0s">
            </re-captcha>
          </div>
          <div class="submitBtn">
            <button type="button" class="btn btn-purple mr-2 mt-2" (click)="onRegister()">{{LANGUAGE.EN.UCP.REGISTER.REGISTER_BTN}}</button>
            <button type="button" class="btn btn-purple mt-2" [routerLink]="['/login']">{{LANGUAGE.EN.UCP.REGISTER.CANCEL_BTN}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
