<div class="modal-header btn-dark">
  <h4 class="modal-title">Edit group: {{group.getGroupName()}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true" class="text-white">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="row justify-content-center mt-4 mb-2">
      <div class="input-group col-10">
        <input type="text" class="form-control" name="groupName" placeholder="groupname" [ngModel]="group.getGroupName()" (ngModelChange)="group.setGroupName(($event).toString())" required>
      </div>
      <div class="col-10 mt-3">
        <label for="accessLevel">Access-Level:</label>
        <select [(ngModel)]="accessLevel" name="accessLevel" class="custom-select" id="accessLevel">
          <option *ngFor="let level of permissions" [ngValue]="level">
            {{level.substr(3)}}
          </option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <button type="button" class="btn btn-dark" (click)="onSubmit()">Edit Group</button>
    </div>
  </form>
</div>
