@import '../../../../assets/scss/vars';
@import '../../../../assets/scss/mixins';
@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';

button {
  font-size: 12pt;
}

@include media-breakpoint-up(md) {
  .card-img {
    width: 100%;
    max-height: 256px;
    object-fit: contain;
  }
}

.card-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}


.card-body {
  border: 1px solid rgba(0, 0, 0, 0.18);

  &:hover {

  }
}

.paginator {
  i {
    margin: 0 10px;
    color: $button_cPurple;

    & :hover {
      color: $button_hPurple;
    }
  }
}

.underline {
  border-color: $button_cPurple;
  margin-bottom: 10px;
}



h3 {
  font-family: $font_Raleway;
  font-weight: bold;
  font-size: 20pt;
}

@include media-breakpoint-up(sm) {
  .filter {
    float: right;
  }
}

@include media-breakpoint-down(sm) {
  .filter {
    padding: 10px 0 0 0;
  }
}

.filterInner {
  font-size: 18pt;

  .form-group {
    margin: 0;
  }
}

.card-head {
  border-top: 2px solid $button_cPurple;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.description {
  padding: 5px 10px 10px 10px;
  max-height: 132px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bookmark {
  position: absolute;
  right: 0;
  top: 37px;
  z-index: 1;
  filter: drop-shadow(0 1px 1px rgba(0,0,0,0.5));
}

.completed {
  position: absolute;
  right: 10px;
  bottom: 10px;
  filter: drop-shadow(0 1px 1px rgba(0,0,0,0.5));
}
