@import '../../../assets/scss/vars';
@import '../../../assets/scss/mixins';

h3 {
  font-family: $font_Raleway;
  font-weight: bold;
  font-size: 20pt;
}

.btn {
  font-family: $font_Raleway;
  font-size: 16pt;
  border: 1px #000 solid;
}

.createProject:hover {
  // ToDo: filter
}
