<div class="container">
  <h3 class="d-inline">{{LANGUAGE.EN.UCP.PROJECTS.OPEN_PROJECTS}}</h3>
  <div class="row filter">
    <div class="col">
      <div class="filterInner">
        <button type="button" class="btn btn-sm btn-purple mr-2" *ngIf="myProjects" (click)="listMyProjects()">
          <i class="fa fa-check-square-o mb-1"></i>
          <span class="lg-up ml-2">{{LANGUAGE.EN.UCP.PROJECTS.BTN_SWITCH_MY}}</span>
        </button>
        <button type="button" class="btn btn-sm btn-purple mr-2" *ngIf="!myProjects" (click)="listMyProjects()">
          <i class="fa fa-square-o mb-1"></i>
          <span class="ml-2">{{LANGUAGE.EN.UCP.PROJECTS.BTN_SWITCH_MY}}</span>
        </button>
        <div class="form-group d-inline-block">
          <input class="form-control" placeholder="{{LANGUAGE.EN.UCP.PROJECTS.PROJECT_FILTER_PLACEHOLDER}}" name="project" [(ngModel)]="f_word" (keyup)="filterByWords()">
        </div>
        <span class="ml-2 mr-1">
          <i class="fa fa-search fa-1x"></i>
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mb-4">
    <div class="col-12">
      <button *ngIf="group && (group._permissions._isAdmin || group._permissions._isProjectManager)" type="button" class="btn btn-sm btn-purple mr-2" [routerLink]="['/ucp/projects/create']">
        <img src="/assets/icons/plus.svg" class="mb-1" height="24px">
        <span class="lg-up ml-2">{{LANGUAGE.EN.UCP.PROJECTS.BTN_CREATE}}</span>
      </button>
      <button type="button" class="btn btn-sm btn-purple mr-2" [routerLink]="['/ucp/projects/done']">
        <img src="/assets/icons/lock.svg" height="24px" class="mb-1"/>
        <span class="lg-up ml-2">{{LANGUAGE.EN.UCP.PROJECTS.BTN_SWITCH_CLOSE}}</span>
      </button>
    </div>
  </div>
  <div class="text-center mt-3 paginator">
    <div class="underline d-inline-block w-25"></div>
    <i class="fa fa-chevron-circle-left fa-2x pointer" (click)="onBackward()"></i>
    <i class="fa fa-chevron-circle-right fa-2x pointer" (click)="onForward()"></i>
    <div class="underline d-inline-block w-25"></div>
  </div>
  <div class="row row-eq-height mt-3">
    <ng-container *ngFor="let project of projects">
      <div class="col-lg-6 mb-4" *ngIf="project.getProjectStatus()" >
        <div class="row">
          <div class="col-12">
            <h4 class="d-inline">{{project.getProjectName()}}</h4><small class="ml-2">(by {{project.getProjectAuthor() | iDtoUserName | async}})</small>
          </div>
        </div>
        <div class="bookmark" *ngIf="project.getProjectDetails()._projectLevel">
          <img src="/assets/icons/bookmark.svg" height="48px" alt="Bookmark" />
        </div>
        <div class="card card-head card-body mt-2">
          <div class="row row-eq-height">
            <div class="col-md-4">
              <img *ngIf="project.getProjectDetails()._projectAvatar" src="{{project.getProjectDetails()._projectAvatar}}" class="img-fluid card-img" />
              <img *ngIf="!project.getProjectDetails()._projectAvatar" src="/assets/icons/noImage.svg" class="img-fluid card-img" />
            </div>
            <div class="col-md-8">
              <div class="card card-body description">
                {{project.getProjectDescription()}}
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-sm btn-purple mr-2" [routerLink]="['/ucp/projects/details/'+project.getProjectID()]">
                <img src="/assets/icons/eye.svg" height="24px" class="mb-1 mr-1"/> {{LANGUAGE.EN.UCP.PROJECTS.BTN_VIEW}}
              </button>
              <button *ngIf="group && (group._permissions._isAdmin || group._permissions._isProjectManager)" type="button" class="btn btn-sm btn-purple" (click)="onClose(project)">
                <img src="/assets/icons/lock.svg" height="24px" class="mb-1"/>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="text-center mt-3 paginator">
    <div class="underline d-inline-block w-25"></div>
    <i class="fa fa-chevron-circle-left fa-2x pointer" (click)="onBackward()"></i>
    <i class="fa fa-chevron-circle-right fa-2x pointer" (click)="onForward()"></i>
    <div class="underline d-inline-block w-25"></div>
  </div>
</div>
