<ngb-alert *ngIf="_message" type="{{_type}}" (close)="closeAlert()">
  <div class="row align-items-center">
    <div class="col-2 col-sm-auto">
      <i class="fa {{ _icon }} fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col-10 col-sm-10">
      {{ _message }}
    </div>
  </div>
</ngb-alert>
