<app-acp-nav-menu></app-acp-nav-menu>

<div class="wrapper">
  <nav id="sidebar" class="bg-dark">
    <app-acp-side-nav></app-acp-side-nav>
  </nav>
  <div id="content">
    <div class="container-fluid">
      <app-user-alert></app-user-alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

