.wrapper {
  display: flex;
  min-height: calc(100vh - 88px);
  align-items: stretch;
}

$Smax-width : 300px;

#content {
  width: 100%;
  margin: 5px 0 0 0;
}

#sidebar {
  min-width: $Smax-width;
  max-width: $Smax-width;
  transition: all 0.3s;
  &.active {
    margin-left: -$Smax-width;
    transition: all 0.3s;
  }
}
