@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Roboto|Roboto Condensed|Raleway");
div {
  font-family: "Raleway";
  background: white;
  border-color: transparent;
}

p {
  font-style: initial;
  font-size: 25px;
  padding-left: 400px;
  padding-top: 25px;
}

img {
  padding-top: 25px;
  padding-left: 250px;
}

/*# sourceMappingURL=aboutus.component.css.map */
