<div class="container">
  <h3>{{LANGUAGE.EN.UCP.ABOUT_US.TITLE}}</h3>
  <hr>
  <div class="row">
    <div class="col-md-7 mb-3">
      <h4>{{LANGUAGE.EN.UCP.ABOUT_US.IMG_TITLE}}</h4>
      <div class="card card-body">
        <div class="row">
          <div class="col-12 text-center">
            <img src="../assets/img/grouppic.gif" alt="RocketDock-Group" class="img-fluid">
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center mt-3">
            <h4>{{LANGUAGE.EN.UCP.ABOUT_US.IMG_SUBTITLE}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 mb-3">
      <h4>{{LANGUAGE.EN.UCP.ABOUT_US.ABOUT_TITLE}}</h4>
      <div class="card card-body">
        <p>{{LANGUAGE.EN.UCP.ABOUT_US.ABOUT_TEXT}}</p>
      </div>
    </div>
  </div>
</div>



