@import "../../../assets/scss/_mixins.scss";
@import "../../../assets/scss/_vars.scss";

.navbar-brand {
  font-family : $nav_bar_brand;
  font-size: 28pt;

  a {
    padding: 20px 0 0 0;
  }
}

.nav-item {
  padding: 0 20px;
}

