<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/acp/']">
    <img src="/assets/icons/wrench.svg" width="60" height="60" class="d-inline-block align-top">
    Admin-Control-Panel
  </a>
  <ul id="acpMenu" class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link pointer" (click)="openSideNav()">
        <img src="/assets/icons/work-tools-cross.svg" height="24px">
      </a>
    </li>
  </ul>
  <ul class="navbar-nav mr-0">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/ucp/']">
        <img src="/assets/icons/exit.svg" height="24px">
      </a>
    </li>
  </ul>
</nav>
