<div class="container">
  <h3>{{LANGUAGE.EN.UCP.DISCLAIMER.TITLE}}</h3>
  <hr>
  <div class="row">
    <div class="col-12 mb-3">
      <h4>{{LANGUAGE.EN.UCP.DISCLAIMER.LIMITATION}}</h4>
      <div class="card card-body">
        <p>{{LANGUAGE.EN.UCP.DISCLAIMER.LIMITATION_TEXT}}</p>
      </div>
    </div>
    <div class="col-12 mb-3">
      <h4>{{LANGUAGE.EN.UCP.DISCLAIMER.EXTERNAL_LINKS}}</h4>
      <div class="card card-body">
        <p>{{LANGUAGE.EN.UCP.DISCLAIMER.EXTERNAL_LINKS_TEXT}}</p>
      </div>
    </div>
    <div class="col-12 mb-3">
      <h4>{{LANGUAGE.EN.UCP.DISCLAIMER.COPYRIGHT}}</h4>
      <div class="card card-body">
        <p>{{LANGUAGE.EN.UCP.DISCLAIMER.COPYRIGHT_TEXT}}</p>
      </div>
    </div>
    <div class="col-12 mb-3">
      <h4>{{LANGUAGE.EN.UCP.DISCLAIMER.DATA_PROTECTION}}</h4>
      <div class="card card-body">
        <p>{{LANGUAGE.EN.UCP.DISCLAIMER.DATA_PROTECTION_TEXT}}</p>
      </div>
    </div>
  </div>
</div>


