@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Roboto|Roboto Condensed|Raleway");
h3 {
  font-family: "Raleway";
}

h4 {
  font-family: "Raleway";
}

p {
  font-family: "Raleway";
}

/*# sourceMappingURL=disclaimer.component.css.map */
