<h4 class="d-inline">{{(user.getUserData() && user.getUserData()._foreName && user.getUserData()._lastName ?
  user.getUserData()._foreName + " " + user.getUserData()._lastName :
  user.getUsername())}}</h4><small class="ml-2 sm-none">{{print(LANGUAGE.EN.UCP.MEMBER_LIST.MEMBER_SINCE, (user.getDate() | date))}}</small>
<img src="/assets/icons/close.svg" alt="close" class="float-right pointer close" height="12px" (click)="closeCard()"/>
<div class="card card-body">
  <div class="row">
    <div class="col-md-3 mt-2">
      <img *ngIf="user.getUserData() && user.getUserData()._avatar" src="{{user.getUserData()._avatar}}" class="card-img">
      <img *ngIf="!user.getUserData() || !user.getUserData()._avatar" src="/assets/icons/noAvatar.svg" class="card-img">
    </div>
    <div class="col-md-5 mt-2">
      <div class="row pt-2">
        <div class="col-6">
          Username: <strong class="pl-2">{{user.getUsername()}}</strong>
        </div>
        <div class="col-6" *ngIf="user.getUserData() != null && user.getUserData()._group">
          Group: <strong class="pl-2">{{user.getUserData()._group | iDtoGroupName | async}}</strong>
        </div>
      </div>
      <div class="row pt-2" *ngIf="user.getUserData() && (user.getUserData()._foreName || user.getUserData()._lastName)">
        <div class="col-6" *ngIf="user.getUserData() && user.getUserData()._foreName">
          Forename: <strong class="pl-2">{{user.getUserData()._foreName}}</strong>
        </div>
        <div class="col-6" *ngIf="user.getUserData() && user.getUserData()._lastName">
          Lastname: <strong class="pl-2">{{user.getUserData()._lastName}}</strong>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-auto">
          Email: <strong class="pl-2">{{user.getEmail()}}</strong>
        </div>
      </div>
      <div class="row pt-2" *ngIf="user.getUserData() && user.getUserData()._description">
        <div class="col-12">
          Description:
        </div>
        <div class="col-12 mt-2">
          <div class="desc">
            <strong>{{user.getUserData()._description}}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 projectList mt-2" *ngIf="projects && projects.length > 0">
      <div class="row align-items-center" *ngFor="let project of projects; let i = index;" [routerLink]="['/ucp/projects/details/'+ project.getProjectID()]">
        <ng-container *ngIf="i < 3">
          <div class="col-4 p-0 text-center">
            <img src="{{project.getProjectDetails()._projectAvatar}}" class="img-fluid">
          </div>
          <div class="col-6">
            <span>{{project.getProjectName()}}</span>
          </div>
          <div class="col-2">
              <span *ngIf="project.getProjectDetails()._projectLevel">
                <img src="/assets/icons/warning.svg" alt="Attention" height="24px" />
              </span>
          </div>
        </ng-container>
        <ng-container *ngIf="i == 3">
          <div class="col-12 mt-1 mb-1 text-center">
            <a [routerLink]="['/ucp/projects']">{{LANGUAGE.EN.UCP.HOME.VIEW_MORE_PROJECTS}}</a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
