@import '../../../../../assets/scss/vars';
@import '../../../../../assets/scss/mixins';
@import '../../../../../../node_modules/bootstrap/scss/bootstrap-grid';

@include media-breakpoint-down(md) {
  .card {
    img {
      max-height:256px;
    }
  }
}

.card {
  img {
    border-radius: 8px;
    object-fit: cover;
  }
}

.close {
  margin: 12px 0 0 0;
}

.card {
  border-top: 2px solid $button_cPurple;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.desc {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
  min-height: 78px;
}

.projectList {

  .card-body {
    padding: 10px 0 0 0;
  }

  .row {
    margin: 6px 0;
  }

  .img-fluid {
    max-height: 52px;
  }
}
