<h3>Create new group</h3>
<div class="card card-body">
  <form (keyup.enter)="onSubmit()">
    <div class="row justify-content-center mb-2">
      <div class="input-group col-10">
        <input type="text" class="form-control" name="groupName" placeholder="groupname" [ngModel]="group.getGroupName()" (ngModelChange)="group.setGroupName(($event).toString())" required>
      </div>
      <div class="col-10 mt-3">
        <label for="accessLevel">Access-Level:</label>
        <select [(ngModel)]="accessLevel" name="accessLevel" class="custom-select" id="accessLevel">
          <option *ngFor="let level of permissions" [ngValue]="level">
            {{level.substr(3)}}
          </option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <button type="button" class="btn btn-dark" (click)="onSubmit()">Create Group</button>
    </div>
  </form>
</div>
